﻿@{
    ViewData["Title"] = "О проекте";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Проект реализован в рамках курса Level UP C# Junior Developer.</p>
<p>Автор проекта - Третьяков О.А.</p>
