﻿@{
    ViewData["Title"] = "Ссылки";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>
        Репозиторий на bitbucket:
    </strong>
    <a href="https://bitbucket.org/TretiakovOA/books_and_courses/src/master/">BooksAndCourses</a><br />    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:TretiakovOA@yandex.ru">TretiakovOA@yandex.ru</a><br />    
</address>
