﻿@model BooksAndCourses.Web.Models.Book

@{
    ViewData["Title"] = "Удаление книги";
}

<h2>Удаление книги</h2>

<h3>Вы действительно хотите удалить эту книгу?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathToCover)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PathToCover)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathToDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PathToDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publishment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publishment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        @foreach (var author in Model.Authors)
        {
            <dd>
                @author.Title
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Chapters)
        </dt>
        @foreach (var chapter in Model.Chapters.OrderBy(c => c.Order))
        {
            <dd>
                @chapter.Order
                .
                @chapter.Title
                ...
                @chapter.FirstPage
            </dd>
            @foreach (var subchapter in chapter.SubChapters.OrderBy(c => c.Order))
            {
                <dd>
                    @chapter.Order
                    .
                    @subchapter.Order
                    .
                    @subchapter.Title
                    ...
                    @subchapter.FirstPage
                </dd>
            }
        }
    </dl>
    
    <form asp-action="DeleteBook">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">К списку</a>
    </form>
</div>
