﻿@model IEnumerable<LibResourceViewModel>
@{
    ViewData["Title"] = "Ресурсы по C#";    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resource in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => resource.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => resource.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => resource.Title)
                </td>
                <td>
                    <a asp-action="EditBook" asp-route-id="@resource.Id">Изменить</a> |
                    <a asp-action="DetailsBook" asp-route-id="@resource.Id">Подробно</a> |
                    <a asp-action="DeleteBook" asp-route-id="@resource.Id">Удалить</a>
                </td>
            </tr>
         }            
        </tbody>
</table>

<div>    
    <a asp-action="CreateBook" class="btn btn-default">Добавить книгу</a>    
    <a asp-action="CreateInternetResource" class="btn btn-default">Добавить интернет-ресурс</a>      
</div>
